*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(237, 227, 217);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-direction: column;
}

main{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
}

h1{
    text-align: center;
    margin-bottom: 10px;
}

#exmetod{
    text-align: center;
    margin-bottom: 30px;
}

#proposito{
    text-align:justify ;
    text-indent: 5%;
}

#ecuaciondif{
    margin: auto;
    margin-bottom: 10px;
    border-radius: 12px;
}

.indent{
    text-indent: 5%;
    text-align: justify;
}

#tabla{
    width: 98%;

    max-width: 700px;
    min-height: 30px;
    background-color: white;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.leyenda{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid black;
    
}

.leyenda span{
    text-align: center;
}



#Entrada-h{
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.auto{
    margin: auto;
}

#graficar{
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    display: none;
}

#fx{
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
}

#visual{
    margin: 20px auto 20px auto;
    display: none;
    width: 80%;
}

footer{
    background-color: rgb(243, 71, 126);
    padding: 10px 20px 0px 20px;
}

#asignatura{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-bottom: 5px;
}

#asignatura a img{
    transform: translateY(0.1rem);
    border-radius: 50%;
}

#asignatura a img:hover{
    background-color: yellow;
}

.azuloscuro{
    color: #000099;
}

@media screen and (max-width: 700px) {
    #tabla{
   font-size: 12px;
}
}

